<html>
    <head>
        <title>PJS First blog</title>
    </head>

    <body>
        <h1>Hello World!</h1>
        <div>
            <h1><a href="/">PJS First Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p><br>
                <p>rate: {{ post.rate }}</p>
            </div>
        {% endfor %}
    </body>
</html>
